Repository Bookrage001/PersonalSwapsiDev, changes with the owners that CODEOWNERS names for each.
All owners: @Bookrage001, @, @michellejonatan, @hclaud, @McChaseA, @msmsarian

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# see more at https://help.github.com/en/articles/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @Bookrage001 @
McChaseA
# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat

# Everyones files must approve changes
/src/main/webapp/Dashboard @Bookrage001
/src/main/java/swapsi/model/follower @Bookrage001
/src/main/webapp/Showcase @michellejonatan
/src/main/java/swapsi/model/register* @hclaud
/src/main/webapp/register* @hclaud
/src/main/webapp/post* @McChaseA
/src/main/java/swapsi/model/Post* @McChaseA
/src/main/java/swapsi/model/Project* @msmsarian


# Design Team
*main*.css @hclaud @McChaseA @michellejonatan

build
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/add_post.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/choice_post.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/followers.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/footer.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/navbar.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/posts.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/vairablesNimports.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/lib/okhttp-3.11.0.jar
  target/swapsi-1.0-SNAPSHOT/WEB-INF/lib/okio-1.14.0.jar
  target/swapsi-1.0-SNAPSHOT/WEB-INF/lib/selenium-api-3.141.59.jar
  target/swapsi-1.0-SNAPSHOT/WEB-INF/lib/selenium-chrome-driver-3.141.59.jar
  target/swapsi-1.0-SNAPSHOT/WEB-INF/lib/selenium-edge-driver-3.141.59.jar
  target/swapsi-1.0-SNAPSHOT/WEB-INF/lib/selenium-firefox-driver-3.141.59.jar
  target/swapsi-1.0-SNAPSHOT/WEB-INF/lib/selenium-ie-driver-3.141.59.jar
  target/swapsi-1.0-SNAPSHOT/WEB-INF/lib/selenium-java-3.141.59.jar
  target/swapsi-1.0-SNAPSHOT/WEB-INF/lib/selenium-opera-driver-3.141.59.jar
  target/swapsi-1.0-SNAPSHOT/WEB-INF/lib/selenium-remote-driver-3.141.59.jar
  target/swapsi-1.0-SNAPSHOT/WEB-INF/lib/selenium-safari-driver-3.141.59.jar
  target/swapsi-1.0-SNAPSHOT/WEB-INF/lib/selenium-support-3.11.0.jar
  target/swapsi-1.0-SNAPSHOT/welcome.jsp
  target/test-classes/swapsi/model/dao/mLabMongoDbConnectorTest.class
  target/test-classes/swapsi/model/follower/FollowerControllerTest.class
  target/test-classes/swapsi/model/follower/FollowersTest.class
Owners: @Bookrage001, @

WIP: can i get it to build
  src/main/webapp/WEB-INF/Modules/followers.jspf
  src/main/webapp/WEB-INF/Modules/footer.jspf
  src/main/webapp/WEB-INF/Modules/navbar.jspf
  src/main/webapp/index.jsp
  target/maven-archiver/pom.properties
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/followers.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/footer.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/navbar.jspf
  target/swapsi-1.0-SNAPSHOT/action/addFollower.jsp
  target/swapsi-1.0-SNAPSHOT/action/login.jsp
  target/swapsi-1.0-SNAPSHOT/delete.jsp
  target/swapsi-1.0-SNAPSHOT/index.jsp
  target/swapsi-1.0-SNAPSHOT/mainstyle.css
  target/swapsi-1.0-SNAPSHOT/welcome.jsp
Owners: @Bookrage001, @, @hclaud, @McChaseA, @michellejonatan

Merge branch 'michelle-features' of https://github.com/Bookrage001/Swapsi into michelle-features
  src/main/webapp/Showcase.js
  src/main/webapp/WEB-INF/Modules/followers.jspf
  src/main/webapp/WEB-INF/Modules/navbar.jspf
  src/main/webapp/index.jsp
  target/maven-archiver/pom.properties
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/followers.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/navbar.jspf
  target/swapsi-1.0-SNAPSHOT/index.jsp
Owners: @Bookrage001, @

Merge branch 'michelle-features' of https://github.com/Bookrage001/Swapsi into michelle-features
  src/main/webapp/Showcase.jsp
Owners: @Bookrage001, @

simple travis
  .travis.yml
  target/classes/swapsi/model/Showcase.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/navbar.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Showcase.class
Owners: @Bookrage001, @

WIP: simple build
  .travis.yml
Owners: @Bookrage001, @

:x: delete files
  src/main/webapp/WEB-INF/Modules/navbar.jspf
  src/main/webapp/search.jsp
  target/maven-archiver/pom.properties
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/navbar.jspf
  target/swapsi-1.0-SNAPSHOT/search.jsp
Owners: @Bookrage001, @

Merge branch 'michelle-features' of https://github.com/Bookrage001/Swapsi into michelle-features
  src/main/webapp/Showcase.jsp
Owners: @Bookrage001, @

addedprojectfeature
  .idea/workspace.xml
  src/main/webapp/mainstyle.css
  src/main/webapp/project.jsp
Owners: @Bookrage001, @, @hclaud, @McChaseA, @michellejonatan

update travis
  .idea/workspace.xml
  .travis.yml
  SwapsiPersonalC-08be635cfa2b.json.enc
  input.txt
  src/main/java/swapsi/model/Showcase.java
  src/main/webapp/index.jsp
  src/main/webapp/login.jsp
  target/classes/swapsi/controller/ConnServlet.class
  target/classes/swapsi/model/Post/Posts.class
  target/classes/swapsi/model/Showcase.class
  target/classes/swapsi/model/dao/mLabMongoDbConnector.class
  target/classes/swapsi/model/follower/FollowerController.class
  target/maven-archiver/pom.properties
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/surefire-reports/TEST-swapsi.model.dao.mLabMongoDbConnectorTest.xml
  target/surefire-reports/TEST-swapsi.model.follower.FollowerControllerTest.xml
  target/surefire-reports/TEST-swapsi.model.follower.FollowersTest.xml
  target/surefire-reports/swapsi.model.dao.mLabMongoDbConnectorTest.txt
  target/surefire-reports/swapsi.model.follower.FollowerControllerTest.txt
  target/surefire-reports/swapsi.model.follower.FollowersTest.txt
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/add_post.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/choice_post.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/followers.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/footer.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/posts.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/vairablesNimports.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/controller/ConnServlet.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Post/Posts.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Showcase.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/dao/mLabMongoDbConnector.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/follower/FollowerController.class
  target/swapsi-1.0-SNAPSHOT/index.jsp
  target/swapsi-1.0-SNAPSHOT/login.jsp
  target/swapsi-1.0-SNAPSHOT/welcome.jsp
  target/test-classes/swapsi/model/dao/mLabMongoDbConnectorTest.class
  target/test-classes/swapsi/model/follower/FollowerControllerTest.class
  target/test-classes/swapsi/model/follower/FollowersTest.class
Owners: @Bookrage001, @

WIP: update travis
  SwapsiPersonalC-08be635cfa2b.json.enc
Owners: @Bookrage001, @

WIP: not working
  .idea/workspace.xml
  .travis.yml
Owners: @Bookrage001, @

Test deploy
  .classpath
  .settings/org.eclipse.core.resources.prefs
  .travis.settings.xml
  .travis.yml
  pom.xml
  target/classes/.netbeans_automatic_build
  target/classes/swapsi/model/Post/Post.class
  target/classes/swapsi/model/Post/PostController.class
  target/classes/swapsi/model/Post/Posts.class
  target/classes/swapsi/model/Project.class
  target/classes/swapsi/model/Projects.class
  target/classes/swapsi/model/User/User.class
  target/classes/swapsi/model/User/UserController.class
  target/classes/swapsi/model/User/Users.class
  target/classes/swapsi/model/dao/mLabMongoDbConnector.class
  target/classes/swapsi/model/follower/Follower.class
  target/classes/swapsi/model/follower/FollowerController.class
  target/classes/swapsi/model/follower/Followers.class
  target/test-classes/.netbeans_automatic_build
  target/test-classes/swapsi/model/dao/mLabMongoDbConnectorTest.class
  target/test-classes/swapsi/model/follower/FollowerControllerTest.class
  target/test-classes/swapsi/model/follower/FollowersTest.class
Owners: @Bookrage001, @

can read now ?
  pom.xml
Owners: @Bookrage001, @

update build
  pom.xml
  target/classes/.netbeans_automatic_build
  target/test-classes/.netbeans_automatic_build
Owners: @Bookrage001, @

bad tags
  pom.xml
  target/classes/.netbeans_automatic_build
  target/classes/swapsi/controller/ConnServlet.class
  target/classes/swapsi/model/Post/PostController.class
  target/classes/swapsi/model/User/UserController.class
  target/classes/swapsi/model/dao/mLabMongoDbConnector.class
  target/classes/swapsi/model/follower/FollowerController.class
  target/test-classes/.netbeans_automatic_build
  target/test-classes/swapsi/model/dao/mLabMongoDbConnectorTest.class
  target/test-classes/swapsi/model/follower/FollowerControllerTest.class
  target/test-classes/swapsi/model/follower/FollowersTest.class
Owners: @Bookrage001, @

FIXES
  pom.xml
  target/classes/.netbeans_automatic_build
  target/classes/swapsi/controller/ConnServlet.class
  target/classes/swapsi/model/Post/PostController.class
  target/classes/swapsi/model/User/UserController.class
  target/classes/swapsi/model/dao/mLabMongoDbConnector.class
  target/classes/swapsi/model/follower/FollowerController.class
  target/test-classes/.netbeans_automatic_build
  target/test-classes/swapsi/model/dao/mLabMongoDbConnectorTest.class
  target/test-classes/swapsi/model/follower/FollowerControllerTest.class
  target/test-classes/swapsi/model/follower/FollowersTest.class
Owners: @Bookrage001, @

try deploy
  .travis.yml
Owners: @Bookrage001, @

revert to old version
  .classpath
  .settings/org.eclipse.core.resources.prefs
  target/classes/.netbeans_automatic_build
  target/classes/swapsi/model/Post/Post.class
  target/classes/swapsi/model/Post/PostController.class
  target/classes/swapsi/model/Post/Posts.class
  target/classes/swapsi/model/Project.class
  target/classes/swapsi/model/Projects.class
  target/classes/swapsi/model/User/User.class
  target/classes/swapsi/model/User/UserController.class
  target/classes/swapsi/model/User/Users.class
  target/classes/swapsi/model/dao/mLabMongoDbConnector.class
  target/classes/swapsi/model/follower/Follower.class
  target/classes/swapsi/model/follower/FollowerController.class
  target/classes/swapsi/model/follower/Followers.class
  target/test-classes/.netbeans_automatic_build
  target/test-classes/swapsi/model/dao/mLabMongoDbConnectorTest.class
  target/test-classes/swapsi/model/follower/FollowerControllerTest.class
  target/test-classes/swapsi/model/follower/FollowersTest.class
Owners: @Bookrage001, @

install and test
  .idea/workspace.xml
  .travis.yml
  target/classes/.netbeans_automatic_build
  target/test-classes/.netbeans_automatic_build
Owners: @Bookrage001, @

not on tags
  .travis.yml
Owners: @Bookrage001, @

only deploy master
  .travis.yml
  pom.xml
  target/classes/.netbeans_automatic_build
  target/test-classes/.netbeans_automatic_build
Owners: @Bookrage001, @

wip: FIX POM
  .travis.yml
  README.md
  pom.xml
  target/classes/.netbeans_automatic_build
  target/test-classes/.netbeans_automatic_build
Owners: @Bookrage001, @

WIP: add projectID
  .idea/workspace.xml
  .travis.yml
  pom.xml
  target/classes/.netbeans_automatic_build
  target/maven-archiver/pom.properties
  target/surefire-reports/TEST-swapsi.model.dao.mLabMongoDbConnectorTest.xml
  target/surefire-reports/TEST-swapsi.model.follower.FollowerControllerTest.xml
  target/surefire-reports/TEST-swapsi.model.follower.FollowersTest.xml
  target/surefire-reports/swapsi.model.dao.mLabMongoDbConnectorTest.txt
  target/surefire-reports/swapsi.model.follower.FollowerControllerTest.txt
  target/surefire-reports/swapsi.model.follower.FollowersTest.txt
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/.netbeans_automatic_build
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Post/Post.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Post/PostController.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Post/Posts.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Project.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Projects.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/User/User.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/User/UserController.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/User/Users.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/dao/mLabMongoDbConnector.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/follower/Follower.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/follower/FollowerController.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/follower/Followers.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/glassfish-web.xml
  target/swapsi-1.0-SNAPSHOT/gfv3ee6.dpf
  target/test-classes/.netbeans_automatic_build
Owners: @Bookrage001, @

WIP: update package
  pom.xml
Owners: @Bookrage001, @

WIP: fix index page
  src/main/webapp/PostIndex.jsp
  src/main/webapp/WEB-INF/Modules/posts.jspf
  src/main/webapp/index.jsp
  src/main/webapp/post.jsp
  target/swapsi-1.0-SNAPSHOT/PostIndex.jsp
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/posts.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/glassfish-web.xml
  target/swapsi-1.0-SNAPSHOT/gfv3ee6.dpf
  target/swapsi-1.0-SNAPSHOT/index.jsp
  target/swapsi-1.0-SNAPSHOT/post.jsp
Owners: @Bookrage001, @, @McChaseA

WIP: logout
  src/main/webapp/WEB-INF/Modules/posts.jspf
  src/main/webapp/logout.jsp
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/posts.jspf
  target/swapsi-1.0-SNAPSHOT/logout.jsp
Owners: @Bookrage001, @

WIP: trying to fix background
  src/main/webapp/mainstyle.css
  target/swapsi-1.0-SNAPSHOT/mainstyle.css
Owners: @hclaud, @McChaseA, @michellejonatan

fix main pages
  .idea/workspace.xml
  src/main/webapp/delete.jsp
  src/main/webapp/post_edit.jsp
  src/main/webapp/register.jsp
  src/main/webapp/search.jsp
  src/main/webapp/welcome.jsp
  target/swapsi-1.0-SNAPSHOT/delete.jsp
  target/swapsi-1.0-SNAPSHOT/post_edit.jsp
  target/swapsi-1.0-SNAPSHOT/register.jsp
  target/swapsi-1.0-SNAPSHOT/search.jsp
  target/swapsi-1.0-SNAPSHOT/welcome.jsp
Owners: @Bookrage001, @, @McChaseA, @hclaud

rebuild ...
  target/classes/swapsi/controller/ConnServlet.class
  target/classes/swapsi/model/Post/Post.class
  target/classes/swapsi/model/Post/PostController.class
  target/classes/swapsi/model/Post/Posts.class
  target/classes/swapsi/model/Project.class
  target/classes/swapsi/model/Projects.class
  target/classes/swapsi/model/User/User.class
  target/classes/swapsi/model/User/UserController.class
  target/classes/swapsi/model/User/Users.class
  target/classes/swapsi/model/dao/mLabMongoDbConnector.class
  target/classes/swapsi/model/follower/Follower.class
  target/classes/swapsi/model/follower/FollowerController.class
  target/classes/swapsi/model/follower/Followers.class
  target/maven-archiver/pom.properties
  target/surefire-reports/TEST-swapsi.model.dao.mLabMongoDbConnectorTest.xml
  target/surefire-reports/TEST-swapsi.model.follower.FollowerControllerTest.xml
  target/surefire-reports/TEST-swapsi.model.follower.FollowersTest.xml
  target/surefire-reports/swapsi.model.dao.mLabMongoDbConnectorTest.txt
  target/surefire-reports/swapsi.model.follower.FollowerControllerTest.txt
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/.netbeans_automatic_build
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/controller/ConnServlet.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Post/Post.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Post/PostController.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Post/Posts.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Project.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Projects.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/User/User.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/User/UserController.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/User/Users.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/dao/mLabMongoDbConnector.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/follower/Follower.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/follower/FollowerController.class
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/follower/Followers.class
  target/swapsi-1.0-SNAPSHOT/gfv3ee6.dpf
  target/test-classes/swapsi/model/dao/mLabMongoDbConnectorTest.class
  target/test-classes/swapsi/model/follower/FollowerControllerTest.class
  target/test-classes/swapsi/model/follower/FollowersTest.class
Owners: @Bookrage001, @

delete posts
  .idea/workspace.xml
  src/main/webapp/post_delete.jsp
  target/swapsi-1.0-SNAPSHOT/gfv3ee6.dpf
  target/swapsi-1.0-SNAPSHOT/post_delete.jsp
Owners: @Bookrage001, @, @McChaseA

merge mark and hayley
  .idea/workspace.xml
  src/main/java/swapsi/model/Post/PostController.java
  src/main/webapp/WEB-INF/Modules/posts.jspf
  src/main/webapp/action/editPost.jsp
  src/main/webapp/post_edit.jsp
  target/classes/swapsi/model/Post/PostController.class
  target/maven-archiver/pom.properties
  target/surefire-reports/TEST-swapsi.model.dao.mLabMongoDbConnectorTest.xml
  target/surefire-reports/TEST-swapsi.model.follower.FollowerControllerTest.xml
  target/surefire-reports/swapsi.model.dao.mLabMongoDbConnectorTest.txt
  target/surefire-reports/swapsi.model.follower.FollowerControllerTest.txt
  target/surefire-reports/swapsi.model.follower.FollowersTest.txt
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/posts.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/classes/swapsi/model/Post/PostController.class
  target/swapsi-1.0-SNAPSHOT/action/editPost.jsp
  target/swapsi-1.0-SNAPSHOT/gfv3ee6.dpf
  target/swapsi-1.0-SNAPSHOT/post_edit.jsp
Owners: @Bookrage001, @, @McChaseA

resolve build issue
  src/main/webapp/WEB-INF/Modules/navbar.jspf
  target/swapsi-1.0-SNAPSHOT/WEB-INF/Modules/navbar.jspf
  target/swapsi-1.0-SNAPSHOT/gfv3ee6.dpf
Owners: @Bookrage001, @

Resolve username variable
  src/main/webapp/PostIndex.jsp
  src/main/webapp/action/login.jsp
  src/main/webapp/search_handle.jsp
  src/main/webapp/search_post.jsp
  target/swapsi-1.0-SNAPSHOT/PostIndex.jsp
  target/swapsi-1.0-SNAPSHOT/action/login.jsp
  target/swapsi-1.0-SNAPSHOT/search_handle.jsp
  target/swapsi-1.0-SNAPSHOT/search_post.jsp
Owners: @Bookrage001, @

to manny variables
  src/main/webapp/PostIndex.jsp
  src/main/webapp/action/login.jsp
  target/swapsi-1.0-SNAPSHOT/PostIndex.jsp
  target/swapsi-1.0-SNAPSHOT/action/login.jsp
Owners: @Bookrage001, @

WIP: update travis
  .idea/workspace.xml
  .travis.yml
  SwapsiPersonalC-08be635cfa2b.json.enc
Owners: @Bookrage001, @

update travis
  .travis.yml
Owners: @Bookrage001, @

update travis
  .travis.yml
  gae.json.enc
Owners: @Bookrage001, @

update iv
  .travis.yml
Owners: @Bookrage001, @

Stop enc
  .idea/workspace.xml
  .travis.yml
Owners: @Bookrage001, @
